.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
;
}
.page-logo {
    background-image: url("../icons/logo-h1.svg");
    width: 25px;
    height: 30px;
    background-color: #fff4e5;
    padding: 14px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    border: 14px solid #fff4e5;
    margin-right: 10px;

}
.page-text {
    display: flex;
    align-items: center;
    background: white;
    padding: 14px 30px;
    border-radius: 11px;
}

.page-text h1 {
    font-weight: 600;
    font-size: 48px;
}
.page-text h1 > span {
    color: #FF9500;
}

.page-description{
    margin: 20px;
    text-align: center;
}

.page-description h2 {
    font-size: 38px;
    font-weight: 500;
    color: #262626;
    margin: 10px;
}

.page-description > p {
    font-size: 18px;
    font-weight: 400;
    color: #262626;
    margin-bottom: 60px;
}
.page-button button:first-child {
    background-color: #FF9500;
    color: white;
    padding: 14px 34px;
    border: 1px solid #FF9500;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.page-button button:last-child {
    background-color: white;
    color: #262626;
    padding: 14px 34px;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}
