.pricing-button {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
}

.pricing-button--month {
    background-color: #FF9500;
    color: white;
    padding: 14px 30px;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
    font-size: 18px;
}
.pricing-button--year {
    background-color: white;
    padding: 14px 30px;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
    font-size: 18px;
}

.pricing {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 80px;
    border-radius: 12px;
    margin-top: 80px;
}

.pricing-card {
    background-color: #fcfcfd;
    padding: 50px 30px 30px 30px;
    border: 1px solid #F1F1F3;
    border-radius: 12px;

}

.pricing-plan p:first-child{
    font-size: 22px;
    font-weight: 500;
    color: #262626;
    padding: 12px 22px;
    text-align: center;
    background-color: #fff9f0;
    border: 1px solid #ffeacc;
    margin-bottom: 50px;
}

.pricing-plan--price {
    display: flex;
    justify-content: center;
}
.pricing-plan--price span:first-child {
    font-weight: 600;
    font-size: 80px;
    color: #262626;
}
.pricing-plan--price span:last-child {

    font-weight: 500;
    font-size: 20px;
    color: #4c4c4d;
    align-self: flex-end
}

.pricing-plan--body {
    margin-top: 50px;
    background-color: white;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding: 40px;
}
.pricing-plan--body h3{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #262626;
    margin-bottom: 30px;
}
.pricing-plan--body ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.icon-check {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("../icons/icon-check.svg");
    width: 14px;
    height: 12px;
    background-color: #fff4e5;
    background-position: center;
    padding: 12px;
    border-radius: 6px;
    margin-right: 12px;
}

.icon-not {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("../icons/icon-not.svg");
    width: 10px;
    height: 10px;
    background-color: #fcfcfd;
    border: 1px solid #f1f1f3;
    background-position: center;
    padding: 11px;
    border-radius: 6px;
    margin-right: 12px;
}

.pricing-plan--body ul > Li {
    display: flex;
    align-items: center;
    padding: 14px;
    border: 1px solid #F1F1F3;
    margin-bottom: 20px;
    border-radius: 8px;
}

.pricing-plan--body ul > li p {
    font-weight: 400;
    font-size: 18px;
    color: #4c4c4d;
}

.pricing-plan > button {
    background-color: #FF9500;
    padding: 20px 24px;
    border-style: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 643px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}
































