* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.html {
    width: 100%;
}


body {
    background-color: #f7f7f8;
    font-family: "Be Vietnam Pro", sans-serif;
}