* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

header {
    border: 0.1rem solid #dddddd;
}

header img {
    width: 3rem;
    margin: 0.5rem 2rem;
}

.arrow {
    color: #555555;
    margin: 0.5rem;
}

.arrow-sub {
    color: #555555;
    position: absolute;
    right: 0.5rem;
}

.menu {
    position: relative;
    display: inline-block;
}

ul li {
    display: inline-block;
    padding: 1rem;
}

.main-menu .menu > a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.4rem;
}

.nav {
    position: absolute;
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.submenu-first {
    position: absolute;
    border: 0.1rem solid #dddddd;
    background-color: #ffffff;
    width: 15rem;
    top: 3rem;
    left: 0;
    display: none;
}

.submenu-second {
    position: absolute;
    border: 0.1rem solid #dddddd;
    background-color: #ffffff;
    top: 0;
    left: 14.9rem;
    width: 15rem;
    display: none;
}

.submenu-first li {
    display: block;
    padding: 0.5rem;
    position: relative;
    list-style: none;
}

.submenu-first li a {
    text-decoration: none;
    color: #333333;
    font-size: 1.2rem;
}

.submenu-first > li:hover, .submenu-second li:hover {
    background: #f5f5f5;
}

.submenu-first li:hover > a, .submenu-second li:hover a {
    color: #d62828;
}

.menu:hover > .submenu-first {
    display: block;
}

.submenu-first li:hover > .submenu-second {
    display: block;
}

.menu:hover > a {
    color: #d62828;
    border-bottom: 0.2rem solid #d62828;
}


