
.partners {
    display: flex;
    align-items: center;
    max-width: 1595px;
    margin-top: 100px;
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 30px;
    border:1px solid #F1F1F3;
    background-color: white;
    border-radius: 12px;
}

.partner-zapier {
    flex: 1;
    background-image: url("../logo/zapier.svg");
    background-repeat: no-repeat;
    padding: 30px 76px;
    background-position: center;
    border-right: 1px solid #F1F1F3;

}
.partner-spotify {
    flex: 1;
    background-image: url("../logo/spotify.svg");
    background-repeat: no-repeat;
    padding: 30px 76px;
    background-position: center;
    border-right: 1px solid #F1F1F3;
}

.partner-zoom {
    flex: 1;
    background-image: url("../logo/zoom.svg");
    background-repeat: no-repeat;
    padding: 30px 76px;
    background-position: center;
    border-right: 1px solid #F1F1F3;
}

.partner-amazon {
    flex: 1;
    background-image: url("../logo/amazon.svg");
    background-repeat: no-repeat;
    padding: 30px 76px;
    background-position: center;
    border-right: 1px solid #F1F1F3;
}

.partner-adobe {
    flex: 1;
    background-image: url("../logo/adobe.svg");
    background-repeat: no-repeat;
    padding: 30px 76px;
    background-position: center;
    border-right: 1px solid #F1F1F3;
}

.partner-notion {
    flex: 1;
    background-image: url("../logo/notion.svg");
    background-repeat: no-repeat;
    padding: 30px 76px;
    background-position: center;
    border-right: 1px solid #F1F1F3;
}

.partner-netflix {
    flex: 1;
    background-image: url("../logo/netfilx.svg");
    background-repeat: no-repeat;
    padding: 30px 76px;
    background-position: center;
}