* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-image: url(images/Background.png);
    background-size: cover;
    padding: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.box {
    background-color: rgba(255, 255, 255, 0.35);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
.title {
    font-size: 4rem;
    color: #1e293b;
    font-weight: 700;
}
.highlight {
    font-size: 4rem;
    color: #c084fc;
    font-weight: 700;
}
.sub {
    color: #334155;
    font-size: 1.25rem;
    margin: 1rem 0 3rem 0;
    font-weight: 400;
}
.button {
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 4rem;
    background-color: #a855f7;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
}
.button:hover {
    background-color: #9333ea;
}
#avatar {
    margin-top: 4rem;
    width: 3.5rem;
    border-radius: 3.5rem;
    border: 0.2rem solid rgba(192, 132, 252, 0.6);
}
.avatar-text{
    font-size: 1.25rem;
    line-height: 3rem;
    color: #334155;
    font-weight: 600;
}
.number {
    color: #a855f7;
    font-weight: 700;
}
.advice {
    background-color: rgba(255, 255, 255, 0.4);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #334155;
}
#checkbox-highlight:checked~ .advice {
    background-color: rgba(192, 132, 252, 0.35);
    color: #6b21a8;
}
.advice-title {
    font-size: 1.375rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.advice-text {
    font-size: 1.125rem;
    font-weight: 400;
}

.icon_check {
    width: 1.2rem;
    height: 1.2rem;
}
.line {
    border: none;
    margin-top: 2rem;
    height: 0.1rem;
    background: rgba(192, 132, 252, 0.6);
}
.text-feature {
    font-size: 1rem;
    margin: 0 1rem;
    font-weight: 600;
    color: #334155;
}
footer {
    margin-top: 3rem;
    text-align: center;
    font-size: 1rem;
}
