* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
.container {
    background-image: url(images/Background.png);
    background-size: cover;
    padding: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;

}
.box {
    background-color: rgba(255, 255, 255, 0.35);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
.title {
    font-size: 4rem;
    color: #1e293b;
    font-weight: 700;
}
.highlight {
    font-size: 4rem;
    color: #c084fc;
    font-weight: 700;
}
.sub {
    color: #334155;
    font-size: 1.25rem;
    margin: 1rem 0 3rem 0;
    font-weight: 400;
}
.button-start {
    border: none;
    padding: 1rem 3rem;
    border-radius: 4rem;
    background-color: #a855f7;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
}
.button-advise {
    border: none;
    padding: 1rem 2rem;
    border-radius: 4rem;
    margin-left: 1.2rem;
    background-color: #ff6f00;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
}
.button-start:hover {
    background-color: #9333ea;
}
.button-advise:hover {
    background-color: #f05123;
}
#modal-btn-start:checked ~.overlay-start {
    display: block;
}
#modal-btn-start:checked ~.modal-start {
    display: block;
}

.modal-start {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 20rem;
    z-index: 999;
    background: white;
    border: 1px solid #ccc;
    width: 30rem;
    margin-inline: auto;
    padding: 15px;
    border-radius: 1rem;
}
.close-modal-start {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.overlay-start {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}
.text-modal-start {
    text-align: left;
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    font-size: 1.125rem;
}
.title-modal-start {
    margin-top: 1.5rem;
    font-size: 1.8rem;
}
.subtitle-modal-start {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    color: #334155;
}
.modal-start-footer {
    margin-top: 3rem;
}
.button-now {
    text-decoration: none;
    border: none;
    padding: 0.8rem 8.5rem;
    border-radius: 1rem;
    background-color: #a855f7;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
}
.button-now:hover {
    background-color: #9333ea;
}
.modal-start-login{
    color: #6b21a8;
    margin-top: 1.5rem;
    display: block;
    text-decoration: none;
}
.modal-start-login:hover {
    text-decoration-line: underline;
}
.input-group {
    display: block;
}























#avatar {
    margin-top: 4rem;
    width: 3.5rem;
    border-radius: 3.5rem;
    border: 0.2rem solid rgba(192, 132, 252, 0.6);
}
.avatar-text{
    font-size: 1.25rem;
    line-height: 3rem;
    color: #334155;
    font-weight: 600;
    padding: 1.2rem;
}
.number {
    color: #a855f7;
    font-weight: 700;
}
.advice {
    background-color: rgba(255, 255, 255, 0.4);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #334155;
}
#checkbox-highlight:checked~ .advice {
    background-color: rgba(192, 132, 252, 0.35);
    color: #6b21a8;
}
.advice-title {
    font-size: 1.375rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.advice-text {
    font-size: 1.125rem;
    font-weight: 400;
}

.icon_check {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.3rem;
}
.line {
    border: none;
    margin-top: 2rem;
    height: 0.1rem;
    background: rgba(192, 132, 252, 0.6);
}
.features {
    margin-top: 1.5rem;
}
.text-feature {
    font-size: 1rem;
    margin: 1rem;
    font-weight: 600;
    color: #334155;

}
footer {
    margin-top: 3rem;
    text-align: center;
    font-size: 1rem;
}
